 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <div class="container-fuild">
    <div class= "hero">
      <h1><span>Bringing Healthcare to You</span><br>TELEME</h1>
        <a href="/about">About Us</a>
        <br>
        <br>
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>

    </div>
  	<figure class="snip1091 navy" id="qwe"><%= image_tag("doctor.jpg", class: "photo")%>
    		<figcaption>
      		<h2>i'm a  <span>doctor</span></h2>
    		</figcaption><a href="#"></a>
  	</figure>
  	<figure class="snip1091 green" id="asd"><%= image_tag("health.jpg", class: "photo")%>
    		<figcaption>
      		<h2>i'm a  <span>patient</span></h2>
    		</figcaption><a href="#"></a>
  	</figure>
  </div>